@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-componente-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 550px;
    border: none;
    background-color: var(--FundoAlternativo);
    transition: all 0.5s ease-in-out;
    opacity: 0; 
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
    .componente-login-opcoes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 78%;
        width: 95%;
        border: double 5px #fff;
        background-color: transparent;
    }
        .login-opcoes{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 5px;
            height: 15%;
            width: 100%;
            background-color: transparent;
            padding: 10px;
        }
            .login-opcoes-botoes{
                display: flex;
                justify-content: start;
                align-items: center;
                height: 50px;
                width: 200px;
                border: none;
                color: #fff;
                font-family: "fonte-titulos";
                font-size: 20px;
                background-color: transparent;
                cursor: pointer;
            }
                .login-opcoes-botoes.ativo{
                    font-size: 25px;
                    font-family: "fonte-titulos";
                    font-weight: bolder;
                    color: #fff;
                    border: solid 1px #fff;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0px 0px 2px 3px #fff inset;
                }
        

        .login-componentes{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            height: 85%;
            width: 100%;
            background-color: transparent;
        }


    .componente-login-botao-entrar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        width: 95%;
        border: none;
        background-color: transparent;
    }
        .botao-entrar{
            height: 50px;
            width: 200px;
            border: double 5px #fff;
            color: #fff;
            font-family: "fonte-titulos";
            font-weight: bolder;
            cursor: pointer;
        }