@keyframes pizzaGuarana{
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

 .container-avo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* background-color: red; */
    width: 30%;
    gap: 30px;
    animation: pizzaGuarana 1s ease-in;
 }
 
 .container-caixa-login{
        display: flex;
        align-items: center;
        flex-direction: column;
        /* height: 51.2%;
        width: 100%; */
        height: 326px;
        aspect-ratio: 2323 / 1316;
        border: none;
        background-image: url(/fundo/background-login.png);
        background-size: cover;
        background-position: center;
        /* transition: all 0.5s ease-in-out; */
        opacity: 0; 
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;

    }

.container-caixa-cadastro{
        display: flex;
        align-items: center;
        flex-direction: column;
        /* height: 70%;
        width: 100%; */
        height: 475px;
        aspect-ratio: 2323 / 1906;
        border: none;
        background-image: url(/fundo/background-cadastro.png);
        background-size: cover;
        background-position: center;
        /* transition: all 0.5s ease-in-out; */
        opacity: 0; 
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
}

        .container-entrarcadastrar{
            /* background-color: blue; */
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            height: 18%;
            width: 95%;
        }

            .lbl-selecionada{
                color: white;
                font-size: 40px;
                font-family: 'fonte-titulos';
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                /* padding-left: 30px; */
            }
            .lbl-nao-selecionada{
                color: gray;
                font-size: 30px;
                padding-top: 5px;
                font-family: 'fonte-titulos';
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                padding-left: 30px;
            }

            .lbl-nao-selecionada:hover{
                color: rgb(187, 187, 187);
                font-size: 35px;
                transition: all 0.3s ease-in-out;
            }

        .container-inputs-cadastrologin{
            display: flex;
            align-items: center;
            flex-direction: column;
            /* background-color: yellow; */
            height: 68%;
            width: 95%;
        }

            .lbl-inputs{
                color: white;
                font-size: 28px;
                font-family: 'fonte-titulos';
                align-self: flex-start;
                margin-left: 30px;
                margin-top: 10px;
            }

            .input-cadastrologin{
                height: 15%;
                width: 90%;
                font-family: 'fonte-titulos';
                color: white;
                background-color: var(--Fundo);
                border-radius: 8px;
                border: solid 2px gray;
                margin-top: 10px;
                padding-left: 10px;
                font-size: 20px;
                user-select: none;
            }
input:focus-visible{
    outline: none;
}
    .btn-confirmar{
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 981 / 344; 
        width: 230px;
        background-size: cover;
        background-position: center;
        border: none;
        cursor: pointer;
        color: white;
        background-image: url(/fundo/fundo-botao-confirmar.png);
        font-family: var(--fonte-titulos);
        font-size: 28px;
        letter-spacing: 1.5px;
        margin-bottom: -45px;
        transition: all 0.3s ease-in-out;
    }

    .btn-confirmar:hover{
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }

    