.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    background-color: transparent;
}
    .login-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }
        .login-parte-dados{
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            padding: 10px;
            gap: 5px;
            height: 50%;
            width: 100%;
            background-color: transparent;
        }
        
        .login-labels{
            font-family: "fonte-subtitulos";
            font-weight: bolder;
            font-size: 15px;
            color: #fff;
        }

        .login-inputs{
            height: 40px;
            width: 400px;
            border: solid 3px #fff;
            border-radius: 7px;
            background-color: transparent;
            color: whitesmoke;
            padding-left: 5px;
        }
        