.container-meu-historico{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

    .historico{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 95%;
        width: 95%;
        border: double 5px #fff;
        background-color: transparent;
    }
        .historico-titulo{
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;
            height: 15%;
            width: 100%;
            background-color: transparent;
        }
            .label-historico-titulo{
                color: #fff;
                font-size: 30px;
                font-weight: bolder;
                font-family: "fonte-titulos";
            }

        .historico-boxs{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 85%;
            width: 100%;
            background-color: transparent;
        }