.container-meus-pedidos{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
    
    .parte-solicitacoes{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
        background-color: transparent;
    }
        .solicitacoes{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 95%;
            width: 95%;
            background-color: transparent;
            border: double 5px #fff;
        }
            .solicitacoes-titulo{
                display: flex;
                justify-content: start;
                align-items: center;
                padding-left: 20px;
                height: 15%;
                width: 100%;
                background-color: transparent;
            }
            .titulo-solicitacoes-producao{
                color: #fff;
                font-size: 30px;
                font-weight: bolder;
                font-family: "fonte-titulos";
            }
            
            .solicitacoes-boxs{
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
                height: 85%;
                width: 100%;
                background-color: transparent;
            }
                .boxs-itens{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    padding: 10px;
                    gap: 20px;
                    overflow: auto;
                    flex-wrap: wrap;
                }

    .parte-producao{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
        background-color: transparent;
    }
        .producao{
            height: 95%;
            width: 95%;
            background-color: transparent;
            border: double 5px #fff;
        }
            .producao-titulo{
                display: flex;
                justify-content: start;
                align-items: center;
                padding-left: 20px;
                height: 15%;
                width: 100%;
                background-color: transparent;
            }
            .producao-boxs{
                height: 85%;
                width: 100%;
                background-color: transparent;
            }