.modal-dropdown {
  position: absolute;
  top: 60px;
  right: 40px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  min-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}

.modal-content {
  background: black;
  font-family: "fonte-subtitulos";
  padding: 20px;
  border-radius: 12px;
  min-width: 300px;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.titulo{
  font-family: 'fonte-logo';
  font-size: 28px;
  margin: 0 0 12px;
}

.coisas{
  font-family: 'fonte-subtitulo';
  font-size: 18px;
}

.fechar{
  color: red;
  font-family: 'fonte-subtitulo';
  border: none;
  background: none;
  cursor: pointer;
}

.avancar{
  color: white;
  font-family: 'fonte-logo';
  font-size: 28px;
  margin: 0 0 12px;
}