.container-componente-navbar{
    height: 15%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    color: white;
    font-family: 'fonte-titulos';
    display: flex;
  user-select: none;

}

.container-logo{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
}

.forja-navbar-logo{
    font-size: 80px;
    padding-left: 30px;
    font-family: 'fonte-logo';
    cursor: pointer;
}

.container-navigate{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.container-carrinho-usuario{
    
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.carrinho-navbar{
    width: 60px;;
    margin-right: 10px;
}

.usuario-navbar{
    width: 60px;;
    margin-right: 30px;
    cursor: pointer;
}

.btn-carrinho{
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.label-navbar{
    cursor: pointer;
    font-size: 40px;
    transition: 0.5s;
}
.label-navbar:hover{
    font-size: 50px;
    transition: 0.5s;
}

/* Wrapper para poder posicionar a bolinha */
.icone-carrinho-wrapper {
    position: relative;
    display: inline-block;
}

/* A Bolinha do Contador */
.contador-carrinho {
    position: absolute;
    top: -5px;
    right: -8px;
    
    background-color: var(--FundoAlternativo); /* Marrom do tema */
    color: var(--Texto);
    border: 1px solid var(--Texto); /* Borda branca fina */
    
    font-family: "fonte-numeros", sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    
    width: 18px;
    height: 18px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
}