.container-componente-navbar{
    height: 15%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    color: white;
    font-family: 'fonte-titulos';
    display: flex;
  user-select: none;

}

.container-logo{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
}

.forja-navbar-logo{
    font-size: 50px;
    padding-left: 30px;
    font-family: 'fonte-logo';
    cursor: pointer;
}

.container-navigate{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.container-carrinho-usuario{
    
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.carrinho-navbar{
    width: 45px;;
    margin-right: 10px;
}

.usuario-navbar{
    width: 45px;;
    margin-right: 30px;
    cursor: pointer;
}

.btn-carrinho{
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.label-navbar{
    cursor: pointer;
    font-size: 40px;
    transition: 0.5s;
}
.label-navbar:hover{
    font-size: 50px;
    transition: 0.5s;
}