.container-user-account{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url(./public/fundo/tim-mcburnie-illustrationtutorial-theentrance.png);
    background-size: cover;
    
}

    .container-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        height: 98vh;
        width: 99vw;
        background-color: rgba(0, 0, 0, 0.1);

        border-radius: 1%;
        border: 50px solid;
        border-image: url(./public/fundo/arestas-do-fundo.svg) 30 round;
    }
        .container-principal-menu{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 35%;
            background-color: transparent;
            
        }
            .parte-menu{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 95%;
                width: 80%;
                border: solid 2px #fff;
                background-color: var(--Fundo);
            }
                .menu-parte-foto{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 15px;
                    height: 35%;
                    width: 100%;
                    background-color: transparent;
                }
                    .parte-foto{
                        height: 180px;
                        width: 180px;
                        border-radius: 50%;
                        background-color: whitesmoke;
                    }
                    h3{
                        color: #fff;
                        text-decoration: underline;
                    }

                .menu-parte-botoes{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 30px;
                    height: 50%;
                    width: 100%;
                    background-color: transparent;
                }
                    .botoes-menu{
                        height: 80px;
                        width: 400px;
                        border: none;
                        border-radius: 20px;
                        background-color: whitesmoke;
                        font-size: 30px;
                        font-weight: bolder;
                        cursor: pointer;
                    }

                .menu-parte-sair{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    padding-right: 70px;
                    height: 15%;
                    width: 100%;
                    background-color: transparent;
                }
                    .botao-deslogar{
                        height: 40px;
                        width: 200px;
                        background-color: red;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        color: #fff;
                    }

        .container-principal-componente{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 65%;
            background-color: transparent;
        }
            .parte-componente{
                height: 95%;
                width: 95%;
                border: solid 2px #fff;
                background-color: var(--Fundo);
            }