.container-meu-historico{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
    .label-historico{
        font-size: 100px;
        font-weight: bolder;
        color: #fff;
    }