.container-componente-navbar{

    height: 15%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: white;
    font-family: 'fonte-titulos';
    display: flex;

}

    .container-logo{

        height: 100%;
        width: 25%;
        /* background-color: blue; */
        display: flex;
        align-items: center;
    }

        .forja-navbar-logo{
            font-size: 50px;
            padding-left: 30px;
            font-family: 'fonte-logo';
        }


    .container-navigate{

        height: 100%;
        width: 50%;
        /* background-color: green; */
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }

        .label-navbar{
            cursor: pointer;

        }

    .container-carrinho-usuario{
        height: 100%;
        width: 25%;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: end;

    }

        .carrinho-navbar{
            width: 45px;;
            margin-right: 10px;
        }
        .usuario-navbar{
            width: 45px;;
            margin-right: 30px;
        }