.container-landing-page-cima{ 
    height: 100vh;
    width: 100vw;

    background-image: url(./fundo/tim-mcburnie-completa-escurecido.png);

    /* background-color: red; */

    background-position: 10%;
    background-size: 170%;
}

.container-centro{
    height: 70%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: 50% 9%;
    background-size: 350px;
    background-repeat: no-repeat;
}

.container-centro.login-ativo {
  flex-direction: row; /* Quando ativo: logo de um lado, login do outro */
  justify-content: center;
  align-items: center;
}

.logo-forja{
    width: 350px;
    height: auto;
    margin-top: 100px;
    transition: all 0.5s ease-in-out;
    margin-right: 0;
}

.logo-forja.deslocado {
  /* Exemplo: você pode diminuir o tamanho ou mover */
  /* width: 200px; */
  /* Você pode usar transform ou margin. Margin é mais simples */
  margin-right: 50px; 
  /* transform: translateX(-50px); */
}
.btn-entrar{
    color: white;
    font-family: 'fonte-logo';
    font-size: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: 15%;
    margin-top: 50px;
    border: none;
    cursor: pointer;
    background-image: url(/fundo/fundo-botaoplus.svg);
    transition: all 0.5s ease-in-out;
    
}



.container-saberMais{
    height: 15%;
    width: 37%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
    
.lbl-saibaMais{
    font-family: 'fonte-titulos';
    color: white;
    font-size: 35px;            
    margin: 25px;
    cursor: pointer;
}

.flechinha{
    width: 50px;
}

.container-landing-page-baixo{
    height: 100vh;
    width: 100vw;
    background-image: url(/fundo/tim-mcburnie-completa-escurecido.png);
    background-color: black;
    background-position: 10%;
    background-position-y: 200%;
    background-size: 170%;
    background-repeat: no-repeat;
}

.container-saberMenos{
    height: 15%;
    width: 37%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lbl-saibaMenos{
    font-family: 'fonte-titulos';
    color: white;
    font-size: 35px;            
    margin: 25px;
    cursor: pointer;
}

.flechinha-inversa{
    width: 50px;
    transform: rotateX(180deg)
}

.container-pai-infos-forja{
    height: 85%;
    width: 100%;
    background-color: red;
    display: flex;
}

.container-infos-esquerda{
    height: 100%;
    width: 75%;
    background-color: green;
}

.container-gif-direita{
    height: 100%;
    width: 25%;
    background-color: salmon;
}