@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-landing-page-cima{ 
    height: 100vh;
    width: 100vw;

    background-image: url(./fundo/tim-mcburnie-completa-escurecido.png);

    /* background-color: red; */

    background-position: 10%;
    background-size: 170%;
}

.container-centro{
    height: 70%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: 50% 9%;
    background-size: 350px;
    background-repeat: no-repeat;
}

.container-centro.login-ativo {
  flex-direction: row; /* Quando ativo: logo de um lado, login do outro */
  justify-content: center;
  align-items: center;
}

.logo-forja{
    width: 600px;
    height: auto;
    /* margin-top: 100px; */
    transition: all 0.5s ease-in-out;
    /* margin-right: 0; */
}

.logo-forja.deslocado {
  /* Exemplo: você pode diminuir o tamanho ou mover */
  /* width: 200px; */
  /* Você pode usar transform ou margin. Margin é mais simples */
  animation-name: fadeIn; 
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  margin-right: 50px; 
  transition: all 0.5s ease-in-out ;
  /* transform: translateX(-50px); */
}
.btn-entrar {
    color: white;
    font-family: 'fonte-logo';
    font-size: 50px;
    background-image: url(/fundo/fundo-botaoplus.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Adicionado para centralizar o fundo */

    /* --- A MÁGICA ESTÁ AQUI --- */
    /* 1. Use display: flex para controlar o interior do botão */
    display: flex;
    /* 2. Centraliza o texto verticalmente */
    align-items: center;
    /* 3. Centraliza o texto horizontalmente */
    justify-content: center;
    /* ----------------------------- */

    /* --- MELHORIA DE TAMANHO --- */
    /* Remova o width e height percentuais */
    /* width: 15%;  (Muito problemático) */
    /* height: 15%; (Causa do seu problema) */

    /* Deixe o padding criar o tamanho do botão */
    padding: 20px 100px; /* Ajuste (cima/baixo) (lados) como precisar */
    
    /* (Seu código restante) */
    margin-top: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}



.container-saberMais{
    height: 15%;
    width: 37%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
    
.lbl-saibaMais{
    font-family: 'fonte-titulos';
    color: white;
    font-size: 35px;            
    margin: 25px;
    cursor: pointer;
}

.flechinha{
    width: 50px;
}

.container-landing-page-baixo{
    height: 100vh;
    width: 100vw;
    background-image: url(/fundo/tim-mcburnie-completa-escurecido.png);
    background-color: black;
    background-position: 10%;
    background-position-y: 200%;
    background-size: 170%;
    background-repeat: no-repeat;
}

.container-saberMenos{
    height: 15%;
    width: 37%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lbl-saibaMenos{
    font-family: 'fonte-titulos';
    color: white;
    font-size: 35px;            
    margin: 25px;
    cursor: pointer;
}

.flechinha-inversa{
    width: 50px;
    transform: rotateX(180deg)
}

.container-pai-infos-forja{
    height: 85%;
    width: 100%;
    background-color: red;
    display: flex;
}

.container-infos-esquerda{
    height: 100%;
    width: 75%;
    background-color: green;
}

.container-gif-direita{
    height: 100%;
    width: 25%;
    background-color: salmon;
}