.container-user-account{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url(/public/fundo/tim-mcburnie-illustrationtutorial-theentrance2.jpg);
    background-size: cover;
    font-family: "fonte-titulos";
    
}

    .container-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 85%;
        width: 99vw;
        background-color: rgba(0, 0, 0, 0.1);
    }
        .container-principal-menu{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 87.5%;
            width: 30%;
            background-color: transparent;
            margin-top: -53px;
            
        }
            .parte-menu{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 80%;
                border: solid 2px #fff;
                background-color: var(--Fundo);
            }
                .menu-parte-foto{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 15px;
                    height: 42%;
                    width: 100%;
                    background-color: transparent;
                }
                    .parte-foto{
                        margin-top: 15px;
                        height: 110px;
                        width: 110px;
                        border-radius: 50%;
                        background-color: whitesmoke;
                    }
                    .label-nome-usuario{
                        color: #fff;
                        font-size: 26px;
                        text-decoration: underline;
                        margin-bottom: 10px;
                    }

                .menu-parte-botoes{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;
                    height: 50%;
                    width: 100%;
                    background-color: transparent;
                }
                    
                    .botoes-menu {
                        display: block;
                        width: 320px;
                        height: 60px;
                        border: none;
                        background-color: rgba(0, 0, 0, 0.7);
                        font-size: 25px;
                        cursor: pointer;
                        font-weight: bolder;
                        font-family: "fonte-titulos";
                        margin-bottom: 4px;
                        transition: 0.3s;
                        color: #8e9d41;
                    }

                        .botoes-menu:hover {
                            font-size: 30px;
                            transition: 0.3s;
                            
                        }

                        .botoes-menu:active {
                            font-size: 31px;
                            transition: 0.1s;
                        }

                        .botoes-menu.ativo {
                            
                            
                            font-size: 30px;

                            background-color: #5B5E1C;
                            color: white;
                            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
                        }

                .menu-parte-sair{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 10%;
                    width: 100%;
                    padding-left: 210px;
                    transition: 1s;
                }
                    .botao-deslogar{
                        height: 27px;
                        width: 50px;
                        background-color: rgba(0, 0, 0, 0.7);
                        border: none;
                        border-radius: 3px;
                        cursor: pointer;
                        color: rgba(255, 255, 255, 0.4);
                        font-family: "fonte-paragrafos";
                        font-size: 20px;
                        font-weight: bolder;
                        transition: 0.5s;
                    }
                    .botao-deslogar:hover{

                        color: rgba(255, 255, 255, 0.9);
                        transition: 1s;
                    }

        .container-principal-componente{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 96.1%;
            width: 70%;
            background-color: transparent;
        }
            .parte-componente{
                height: 91%;
                width: 95%;
            margin-top: -49px;
                border: solid 2px #fff;
                background-color: var(--Fundo);
            }