/* Add this to the top of your CSS */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 24px;
  font-weight: 1;
  overflow: hidden;
  
}


:root{
    
  --Texto: rgb(255, 255, 255);
  --Fundo: rgba(0, 0, 0, 0.5);
  --FundoAlternativo: rgb(39, 30, 17, 0.7);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


::-webkit-scrollbar{

  width: 11px;
  transition: 1s;
}
::-webkit-scrollbar-thumb{

  border-radius: 2px;
  
  background-color: rgba(255, 255, 255,1);
  cursor: pointer;
  transition: 1s;
}

::-webkit-scrollbar-button{

  display: none;
    
}
::-webkit-scrollbar-corner {
    background-color: transparent ; 
}



::selection{

  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.4);
   text-shadow: 0px 0px 2px rgba(0, 0, 0, 1); 

}




:root{
    
  --Texto: rgb(255, 255, 255);
  --Fundo: rgba(0, 0, 0, 0.5);
  --FundoAlternativo: rgb(39, 30, 17, 0.7);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "fonte-logo";
  src: url(./fontes/Hellraiser-SC.ttf);
}

@font-face {
  font-family: "fonte-titulos";
  src: url(./fontes/IMFellEnglishSC-Regular.ttf);
}


@font-face {
  font-family: "fonte-subtitulos";
  src: url(.fontes/Trykker-Regular.ttf);
}

@font-face {
  font-family: "fonte-paragrafos";
  src: url(./fontes/IMFellDoublePica-Regular.ttf);
}


@font-face {
  font-family: "fonte-numeros";
  src: url(./fontes/DonegalOne-Regular.ttf);
}
