*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 24px;
  font-weight: 1;
  overflow: hidden;
  
}


:root{
    
  --Texto: rgb(255, 255, 255);
  --Fundo: rgba(0, 0, 0, 0.5);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar{

  width: 11px;
  transition: 1s;
}


::-webkit-scrollbar-thumb{

  border-radius: 2px;
  
  background-color: rgba(214, 164, 122, 1);
  cursor: pointer;
  transition: 1s;
  animation: pulse 2s infinite ease-in-out;
}



::selection{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.4);
   text-shadow: 0px 0px 2px rgba(0, 0, 0, 1); 

}


@font-face {
  font-family: "fonte-logo";
  src: url(./public/fontes/Hellraiser-SC.ttf);
}

@font-face {
  font-family: "fonte-titulos";
  src: url(./public/fontes/IMFellEnglishSC-Regular.ttf);
}


@font-face {
  font-family: "fonte-subtitulos";
  src: url(./public/fontes/Trykker-Regular.ttf);
}

@font-face {
  font-family: "fonte-paragrafos";
  src: url(./public/fontes/IMFellDoublePica-Regular.ttf);
}


@font-face {
  font-family: "fonte-numeros";
  src: url(./public/fontes/DonegalOne-Regular.ttf);
}
